@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: 1 999;
}

@font-face {
    font-family: "Park Lane";
    src: url("/fonts/parklane.regular.ttf") format("truetype");
    /* font-weight: 1 999; */
}

.color-test {
    color: #f7d195;
}
