@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: 1 999;
}
@font-face {
    font-family: "EB Garamond";
    src: url("/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
    font-weight: 1 999;
}
@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
    font-weight: 1 999;
}
@font-face {
    font-family: "Fredoka";
    src: url("/fonts/Fredoka.ttf") format("truetype");
    font-weight: 1 999;
}
@font-face {
    font-family: "Lemonada";
    src: url("/fonts/Lemonada.ttf") format("truetype");
    font-weight: 1 999;
}

.color-test {
    color: #f7d195;
}
